:root {
  --color-grey: #3e3e3e;
  --color-white: #e6e6e6;;
  

  --radius: 1rem;

  --shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.15);
  --shadow-lg: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);

  --transition-sm: all 0.3s ease-out;
  --transition: all 0.5s ease-out;
}