@use '~vuetify/src/styles/styles.sass' as *;

.separator {
  border: none;
  border-bottom: 1px solid var(--color-grey);
  margin: 2rem 0;
  width: 100%;
}

.v-dialog.v-dialog--active{
  width: 100% !important;
}

@media only screen and (min-width: map-get($grid-breakpoints, 'xl')) {
  .container {
  max-width: 1440px !important;
  }
}